<%= form_with(model: [@post, @post.comments.build], class: 'comment-form') do | f | %>
  <div class="field">
    <%= f.text_area :content, rows: 5, cols: 50, id: 'comment_content' %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>